VITE_SUPABASE_URL=https://qnlinkfkpxcqzckokqfo.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ok71QItsTcs2yS8R8p0rsw_mtVTjq43
VITE_SUPABASE_MATERIALS_BUCKET=materials
VITE_ADMIN_EMAILS=
CONVEX_DEPLOYMENT=dev:confident-sturgeon-659
VITE_CONVEX_URL=https://confident-sturgeon-659.convex.cloud
